window {
    background-color: rgba(0, 0, 0, 0.0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
    margin: 0
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background: #27132e;
	padding: 0;
	margin: 0
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.1)
}
