/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height"  unset or smaller then your theme default button height */
button {
    margin: 2px
}

#button-start {
    background: none;
    border: 0px
}

/* WindowBox in SwayTaskBar is a custom widget, that needs this and the next name
   to highlight currently focused task */
#task-box {
    padding-left: 4px;
    padding-right: 4px
}
#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}


/***** MODIFY TO YOUR TASTE *****/

/* Sample button in sample config w/ no background nor border */
#button-custom {
    background: rgba (0, 0, 0, 0.0);
    border: 0px
}

/* Top panel in sample config uses this name */
#panel-top {
    background-color: rgba (11, 11, 11, 0.9);
    color: #eeeeee
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
    background-color: rgba (0, 0, 0, 0.9);
    color: #eeeeee
}

/* Controls window in sample config uses this name */
#controls-window {
    border-radius: 0px;
    background: #27132e;
    color: #eeeeee
}

/* Executors usually behave better in monospace fonts */
#executor-label {
    font-family: monospace
}

/* and so does the Clock */
#clock {
    font-family: monospace;
    font-size: 14px
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
    font-size: 14px
}

/* dwl-tags */
#dwl-tag-box {
    padding-top: 4px;
    padding-bottom: 4px
}

#dwl-tag-occupied {
    font-family: monospace;
    color: #eee;
    background-color: #006699;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-free {
    font-family: monospace;
    color: #eee;
    background-color: #333;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-urgent {
    font-family: monospace;
    color: #eee;
    background-color: #ee6600;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-selected {
    border: solid 2px;
    border-color: #81a1c1
}
