window {
  background-color: rgba (36, 47, 79, 0.92);
  /*background: #242f4f;*/
  /*opacity: 0.9;*/
	border-radius: 5px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7)
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 1px
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	/*padding-left: 4px;
	padding-right: 4px;*/
	padding: 2px;
	margin: 6px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba (255, 255, 255, 0.15);
	border-radius: 2px;
}

button:focus {
	box-shadow: 0 0 2px;
}

grid {
	background-color: rgba (0, 0, 0, 0.7);
	/*background-image: url("/home/piotr/.config/nwg-launchers/nwgbar/bricks.png");*/
	/* background-repeat: no-repeat; */
	padding: 6px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7)
}
